<section id="todo">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
                  <form novalidate autocomplete="off" [formGroup]="myForm" (ngSubmit)="addTodo(myForm.value)">
                      <h1>Add a Todo</h1>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="FirstName" formControlName="firstName">
                          <div *ngIf="myForm.controls['firstName'].errors && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)"
                              class="alert alert-danger">
                              <div *ngIf="myForm.controls['firstName'].hasError('required')">
                                  First name is required.
                              </div>
                              <div *ngIf="myForm.controls['firstName'].hasError('minlength')">
                                  Please enter atleast 2 characeters.
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="LastName" formControlName="lastName">
                          <div *ngIf="myForm.controls['lastName'].errors && (myForm.controls['lastName'].dirty || myForm.controls['lastName'].touched)"
                              class="alert alert-danger">
                              <div *ngIf="myForm.controls['lastName'].hasError('required')">
                                  Last name is required.
                              </div>
                              <div *ngIf="myForm.controls['lastName'].hasError('minlength')">
                                  Please enter atleast 2 characeters.
                              </div>
                              <div *ngIf="myForm.controls['lastName'].hasError('pattern')">
                                  Last Name accepts alphabets.
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="text" formControlName="email"  class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">
                          <select class="txt-box" name="todoType" formControlName="todoType" class="form-control">
                          <option [value]="null" [disabled]="true">Select Option </option>
                          <option *ngFor="let todo of todoType" [ngValue]="todo.type">
                              {{todo.type}}
                          </option>
                       </select>
                      </div>
                      <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Add" [disabled]="myForm.invalid">
                      
                  </form>
                  <hr>
              </div>
          </div>
          <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<hr/>
<div *ngIf="todosArray.length > 0">
  <app-todo [todoDetail]="todosArray"></app-todo>
</div>